* {
  border-color: #454545;
}
body {
  background-color: #EEEEEE;
  border-color: #454545;
}

h1 {
  font-size: 2em;
}

h1 a {
  color: #454545;
}

h1 a:hover {
  text-decoration: none;
  color: #474747;
}

header {
  background-color: #1D448C;
  height: 11.5em;
  border-bottom-style: solid;
  border-bottom-width: 0.3em;
}

header img {
  float: left;
  padding-left: 10%;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 11em;
}

header #headerText {
  font-style: bold;
  text-shadow: 2px 2px 2px #454545;
  padding-top: 1.3em;
  font-size: 1.8em;
  width: 800px;
  word-wrap: break-word;
  color: #EEEEEE;

}

.tags {
  margin-left: 0.5em;
  float: right;
}

.tags a {
  color: #EEEEEE;
}

.tags a:hover {
  text-decoration: none;
}

main {
  padding-right: 1em;
  width: 60%;
}

.underline {
  border-width: 1px;
  border-bottom-style: solid;

}

main img {
  width: 100%;
  vertical-align: center;
  border-width: 1px;
  border-style: solid;
  margin-top: 1em;
  margin-bottom: 1em;
}

nav {
  padding-left: 10%;
  padding-right: 10%;
}

aside {
  padding-left: 1em;
  padding-right: 1em;
  float: right;
  width: 40%;
}


aside #row {
  width: 20%;
}

aside img {
  width: 100%;
  vertical-align: center;
}

#row2 input {
  padding-top: 2em;
  width: 70%;
}

.below {
  

}

#posted {
  color: #CCCCCC;
}

#articleList {
    height:25em;
    overflow:hidden;
    text-overflow:hidden;
}