<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Avlyst!</strong> Bedriftpresentasjon med <strong>BEKK</strong> (22.05.2014) er avlyst grunnet kjedelig opplegg.
</div>

<aside id="row2">
  <div ng-include src="'/views/partials/event.html'"></div>
  <div ng-include src="'/views/partials/advertisements.html'"></div>
</aside>

<aside id="row1">
  <div ng-include src ="'/views/partials/article-row.html'"></div>
</aside>

<main>

  <article ng-repeat="post in posts | orderBy: post.posted : reverse">
    <h1 class="underline"><a href="/#/post/{{post.id}}">{{post.title}}</a></h1>
    <span id="posted">{{post.posted}}</span> <span  ng-repeat="tag in post.tags" class="label label-default tags"><a href="/tag/{{tag}}">{{tag}}</a></span>
    <a href="/#/post/{{post.id}}"><img class="img-rounded" src="{{post.banner}}"></a>

    <p>{{post.content}}</p>
  </article>
</main>
