<aside id="row">
  <div ng-include src="'/views/partials/event.html'"></div>
  <div ng-include src="'/views/partials/advertisements.html'"></div>
</aside>

<aside id="row">
  <div ng-include src ="'/views/partials/movie.html'"></div>
  <div ng-include src ="'/views/partials/article-row.html'"></div>
</aside>

<main>
  <h1 class = "underline">{{post.title}}</h1>
  <img class="img-rounded" src="{{post.banner}}"/>
  <p>{{post.content}}<p>

<div ng-repeat="p in photo.photoset.photo">
  <img src="https://farm{{p.farm}}.staticflickr.com/{{p.server}}/{{p.id}}_{{p.secret}}.jpg">

</div>

</main>
